<header class="header">
    <div>
        <div class="header-logo">
            <a href="#">Live Stream</a>
        </div>
        <div class="header-link">
            <a href="#">News</a>
            <a href="#">Series</a>
            <a href="#">Sports</a>
            <a href="#">Kids</a>
        </div>
    </div>
</header>