:root {
  --primaryColor: #2e3191;
  --primaryColorOpacity: #2e3191e6;
  --secondaryColor: #42a7de;
  --greyColor: #999FAE;
  --redColor: #ed1c24;
  --blackColor: #171717;
  --whiteColor: #fff;
  --primaryColorFaded: #42a7de4f;
  --duration: 0.4s ease-in-out;
  --headerHeight: 65px;
  --headerbgColor: transparent;
  --maxWidth: 1200px;
}
body .hero {
  min-height: 50vh;
  width: 100%;
  background: url("/img/hero.webp") repeat;
  background-position: left;
  background-size: cover;
  /*background: radial-gradient(var(--secondaryColor),var(--primaryColor));*/
  position: relative;
}
body .hero:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #00000073;
  z-index: 1;
}
body .hero > article {
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
}
body .hero > article p {
  font-size: 3rem;
  color: var(--whiteColor);
  text-align: center;
}
body .category {
  margin-block: 30px;
}
body .category > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .category-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  width: 100%;
  justify-items: center;
}
body .category-items .item {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--greyColor);
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
body .category-items .item > p {
  font-size: 1rem;
  color: var(--primaryColor);
  font-weight: bold;
  z-index: 2;
  transition: all var(--duration);
}
body .category-items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: var(--primaryColor);
  transition: all var(--duration);
}
body .category-items .item:hover > p {
  color: var(--whiteColor);
}
body .category-items .item:hover::after {
  height: 80%;
}
body .slide {
  margin-block: 50px;
}
body .slide > article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .slide > article > a {
  margin-left: auto;
  position: relative;
  font-size: 0.9rem;
  color: var(--blackColor);
  transition: all var(--duration);
  font-weight: bold;
}
body .slide > article > a:after {
  content: "➡";
  margin-left: 10px;
  transition: all var(--duration);
}
body .slide > article > a:hover {
  color: var(--primaryColor);
}
body .slide-title {
  font-size: 1.2rem;
}
body .slide-title:after {
  width: 100%;
}
body .slide-items {
  display: flex;
  gap: 10px;
  overflow: hidden;
  flex-wrap: nowrap;
  padding: 5px;
}
body .slide-items .item {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--greyColor);
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
body .slide-items .item > p {
  font-size: 1rem;
  color: var(--primaryColor);
  font-weight: bold;
  z-index: 2;
  transition: all var(--duration);
  text-align: center;
  overflow-wrap: anywhere;
}
body .slide-items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: var(--primaryColor);
  transition: all var(--duration);
}
body .slide-items .item:hover > p {
  color: var(--whiteColor);
}
body .slide-items .item:hover::after {
  height: 80%;
}
body .slide-items._wrap {
  flex-wrap: wrap;
}
